<?xml version="1.0" encoding="UTF-8" ?>
<launch>
    <!-- use recorded time instead of current system time -->
    <param name="use_sim_time" value="true" />
    <arg name="bagfile" value="$(find infield_robotics_workshop)/data/2022-11-15-21-15-53.bag"/>

    <!-- playback data in a loop -->
    <node pkg="rosbag" type="play" name="data_playback_node" output="screen" args="--clock --loop $(arg bagfile)"/>
                    
                     

</launch>